@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
  }

  .animate-shake {
    animation: shake 0.4s ease-in-out;
  }
}

/* NProgress Styles */
#nprogress .bar {
  background: #4F46E5 !important;
  height: 4px !important;
  box-shadow: 0 0 10px #4F46E5, 0 0 5px #4F46E5;
}

#nprogress .peg {
  box-shadow: 0 0 10px #4F46E5, 0 0 5px #4F46E5 !important;
}
